/*ALL*/
* {
    font-family: 'ROBOTO LIGHT';
}

body {
    background-color: #fff;
}
/*END ALL*/

/*NAVIGATION*/
#navigation{
    border-top: 4px solid orange;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.3);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.3);
}

#navigation .navbar-brand{
    font-family: 'Fredoka One';
}
/*END NAVIGATION*/

/*HEADER*/
#header{
    margin: 60px 0 20px 0;
    text-align: center;
    padding: 200px 0px;
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header h1{
    font-size: 100px;
    font-family: 'Segoe UI Black', fantasy;
    color: white;
    margin-bottom: 50px;
}

#header .btn{
    border-radius: 0px;
    border: 3px solid white;
    color: white;
    font-family: 'Fredoka One';
    font-size: 25px;
    width: 250px;
    padding: 10px 0px;
    text-decoration: none;
}

#header .btn:hover{
    background-color: white;
    color: #00BFA5;
    transition: all ease-in-out 500ms;
}
/*END HEADER*/

/*SECTION*/
/*END SECTION*/

/*FOOTER*/
#footer {
    background-color: #222222;
    color: #CCCCCC;
    padding: 40px 40px 0 40px;
    margin-top: 25px;
    border-top: 4px solid orange;
}

#footer a{
    color: #FFFFFF;
}

#footer a:hover{
    color: #4CAF50;
    text-decoration: none;
    transition: all 500ms ease-in-out!important;
}

#footer-social {
    border: 2px solid white;
    border-radius: 30px;
    font-size: 15px;
    height: 35px;
    width: 35px;
    margin: 0 2px 5px 0;
    padding-top: 8px;
    text-align: center;
}

#footer-social:hover {
    color: #02AAB0 !important;
    background-color: #FFFFFF;
    transition: all 500ms ease-in-out;
}

#footer-copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
/*END FOOTER*/