/*ALL*/
* {
    font-family: 'ROBOTO';
}

body {
    background-color: #fff;
}
/*END ALL*/

/*NAVIGATION*/
#navigation{
    -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0, 0.15);
    -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0, 0.15);
    box-shadow: 0px 4px 16px 0px rgba(0,0,0, 0.15);
    padding: 10px 100px 10px 100px;
}

#navigation .navbar-brand{
    font-family: MOON;
    letter-spacing: 5px;
    color: #2962FF;
}

#navigation a{
    color: #2962FF;
    font-family: MOON;
}
/*END NAVIGATION*/

/*HEADER*/
#header{
    height: 100vh;
    margin: 60px 0 0 0;
    text-align: center;
    padding-top: 150px;
    background-image: url(../img/header-background.jpg);

    /*PARALLAX SCROLING EFFECTS*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-block{
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.3);
    width: 50%;
    padding: 50px 0;
}

#header h1{
    font-size: 100px;
    font-family: 'Segoe UI Black', fantasy;
    color: #2962FF;
    margin-bottom: 20px;
}

#header h4{
    font-size: 30px;
    font-family: 'Segoe UI Black', fantasy;
    color: #2962FF;
    margin-bottom: 50px;
}

#header a{
    border-radius: 0px;
    border: 3px solid #2962FF;
    color: #2962FF;
    font-family: 'Fredoka One';
    font-size: 25px;
    width: 250px;
    padding: 10px 0px;
    text-decoration: none;
}

#header a:hover{
    background-color: #2962FF;
    color: white;
    transition: all ease-in-out 500ms;
}
/*END HEADER*/

/*SECTION*/
#section-about-me{
    text-align: center;
    padding: 100px 0;
}

#section-subscribe{
    text-align: center;
    margin-bottom: -50px;
    padding: 50px 0px 60px 0px;
    background-image: url(../img/header-background.jpg);

    /*PARALLAX SCROLING EFFECTS*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-subscribe-block{
    width: 50%;
    padding: 50px 100px;
    background: rgb(255,255,255);
    background: rgba(255,255,255,0.3);
}

#section-subscribe-block h1{
    font-family: 'ROBOTO LIGHT';
    margin-bottom: 50px;
}

#section-subscribe-block input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 20px;
    border: 0px;
    padding-top:10px;
    padding-bottom:10px;
}

#section-subscribe-block  button{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

.section{
    height: 400px;
}
/*END SECTION*/

/*FOOTER*/
#footer-triangle{
    text-align: center;
    margin-bottom: -10px;
    padding: 0px;
}

#footer {
    background-color: #222222;
    color: #CCCCCC;
    padding: 40px 40px 0 40px;
    margin-top: 0px;
    border: 0px;
}

#footer a{
    color: #FFFFFF;
}

#footer h4{
    font-family: MOON-Light;
    margin-bottom: 20px;
}

#footer a:hover{
    color: #2962FF;
    text-decoration: none;
    transition: all 500ms ease-in-out!important;
}

#footer-social {
    border: 2px solid white;
    border-radius: 30px;
    font-size: 15px;
    height: 35px;
    width: 35px;
    margin: 0 2px 5px 0;
    padding-top: 8px;
    text-align: center;
}

#footer-social:hover {
    color: #02AAB0 !important;
    background-color: #FFFFFF;
    transition: all 500ms ease-in-out;
}

#footer-copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
/*END FOOTER*/

/*MEDIA QUERIES*/
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 768px) {
    #header {
        background-attachment: scroll;
    }
}

